// Variables -------------- //
$base-font-size:      rem(16px);
$small-font-size:     rem(13px);
$lead-font-size:      rem(22px);
$title-font-size:     rem(59px);
$h1-font-size:        rem(40px);
$h2-font-size:        rem(18px);
$h3-font-size:        rem(16px);
$h4-font-size:        rem(19px);
$h5-font-size:        rem(16px);
$aside-font-size:     rem(16px);
$font-light:          300;

// Primary color
$color-primary:              #0071BC;
$color-primary-darkest:      #112E51;
$color-primary-alt-lightest: #E1F3F8;
$color-gray-dark:            #4A4A4A;
$color-gray-lightest:        #F1F1F1;
$color-gray-warm-light:      #E4E2E0;
$color-green-lightest:       #122E51;
// Secondary color
$color-secondary-dark:       #CD2026;
$color-visited:              #4C2C92;
