<div class="usa-grid">
  <h1>Add New Payroll</h1>

  <ul id="breadcrumbs">
      <li class="current">1) Select Contract &amp; date</li>
      <li class="disabled">2) Complete Payroll</li>
      <li class="disabled">3) Review Hours</li>
      <li class="disabled">4) Review Deductions</li>
      <li class="disabled">5) Sign &amp; Certify</li>
  </ul>

  <div class="usa-width-one-whole">
    <form name="payrollForm" novalidate ng-submit="payrollForm.$valid && create($event)">
      <fieldset>
        <div ng-class="{ 'usa-input-error': payrollForm.$submitted && payrollForm.contract_number.$invalid }">
          <label for="contract_number">Contract number</label>
          <span class="usa-input-error-message" ng-show="payrollForm.$submitted && payrollForm.contract_number.$invalid" id="input-error-message" role="alert">Please select a contract</span>
          <select name="contract_number" id="contract_number" ng-model="payroll.contract_id" ng-options="contract.num for contract in contracts track by contract.id" required>
          </select>
        </div>

        <label>Payroll week end date</label>
        <span class="usa-form-hint usa-datefield-hint" id="date-hint">(For example: 04 28 1986)</span>
        <input type="hidden" name="week_end_date" ng-model="endDate" required/>
        <div ng-messages="payrollForm.end_week_end.$error" ng-messages-multiple ng-if="payrollForm.$submitted" role="alert">
            <span class="usa-input-error-message" ng-if="payrollForm.$submitted && payrollForm.week_end_date.$invalid">Please enter a valid date</span>
        </div>
        <div class="usa-date-of-birth">
          <div class="usa-datefield usa-form-group usa-form-group-month" aria-describedby="date-hint">
            <input aria-labelledby="end_month" class="usa-form-control" id="end_month" name="end_week" ng-model="endDateMonth" ng-model-options="{updateOn : 'change blur'}" pattern="0?[1-9]|1[012]" type="text">
          </div>
          <div class="usa-datefield usa-form-group usa-form-group-day">
            <input aria-labelledby="end_day" class="usa-form-control" id="end_day" name="end_week" ng-model="endDateDay" ng-model-options="{updateOn : 'change blur'}" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]" type="text">
          </div>
          <div class="usa-datefield usa-form-group usa-form-group-year">
            <input aria-labelledby="end_year" class="usa-form-control" id="end_year" name="end_week" ng-model="endDateYear" ng-model-options="{updateOn : 'change blur'}" pattern="[0-9]{4}" type="text">
          </div>
        </div>

        <input id="final_payroll" type="checkbox" name="final_payroll" value="final_payroll" ng-model="payroll.final">
        <label for="final_payroll">This is the final payroll for this contract.</label>
      </fieldset>

      <hr>

      <fieldset>
        <legend>Entry method</legend>
        <span>How would you like enter this week's payroll? Choose one of the following three options:</span>

        <input id="manual_entry" type="radio" name="manual_entry" value="manual_entry" ng-model="entry_method">
        <label for="manual_entry">Enter payroll details manually</label>

        <input id="duplicate_entry" type="radio" name="duplicate_entry" value="duplicate_entry" ng-model="entry_method">
        <label for="duplicate_entry" style="max-width: 50rem">Duplicate a previous payroll. (Don't worry, you'll be able to edit it)</label>

        <!--<input id="upload_entry" type="radio" name="upload_entry" value="upload_entry" ng-model="entry_method">
        <label for="upload_entry">Upload payroll from a third-party system</label>-->

        <input id="no_work_entry" type="radio" name="no_work_entry" value="no_work_entry" ng-model="entry_method">
        <label for="no_work_payroll">I need to file a no-work payroll.</label>
      </fieldset>

      <div class="button_wrapper">
        <button class="usa-button" id="enter" href="#" ng-click="submit()">Continue</button>
        <button class="usa-button usa-button-outline" ui-sref="dashboard" href="#">Cancel</button>
      </div>
    </form>
  </div>
</div>
