<div class="usa-width-one-whole">
  <h1>Edit contract</h1>
</div>
<div class="usa-grid">
  <div class="usa-width-one-half">
    <div ng-include="'app/contract/components/subcontractors-manager/views/subcontractor.add.html'"></div>
  </div>
  <div class="usa-width-one-half">
    <aside style="margin-top: 12.5rem;">
      <h4>Entering subcontractors</h4>
      <p>Every subcontractor listed here will be able to send certified payroll electronically through this system. Subcontractors will be able to edit and update their contact information, as well as add any second- or third-tier subs to the system.</p>
    </aside>
  </div>
</div>
<div class="button_wrapper">
  <a class="usa-button usa-button-outline" ui-sref="contract.view.projectinfo">Go back</a>
</div>
