<footer class="site-footer">
  <div class="usa-grid">
    <div class="usa-footer-logo usa-width-one-half">
      <img class="usa-footer-slim-logo-img" src="img/gsa-logo.png" alt="GSA Logo image">
    </div>
    <div class="usa-footer-contact-links usa-width-one-half">
      <strong>Useful Information</strong>
      <ul class="usa-unstyled-list">
        <li>
          <a ui-sref="privacy">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms of Service</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
