<div class="usa-grid">
  <h1>Accept Terms and Conditions</h1>
  <div>
      <p>
        Before using the Certified Payroll Application for the first time, you are required to read, understand, and agree to these terms. You may only proceeed
        after reading and accepting these terms.
      </p>
      <h3>WARNING TO USERS OF THIS SYSTEM: This system contains U.S Government Data. Unauthorized use of this system is prohibited.</h3>

      <p>
        This computer system, including all related equipment, networks, and network devices (specifically including Internet access) are provided only for authorized U.S. Government use. U.S. Government computer systems may be monitored for all lawful purposes, including to ensure that their use is authorized, for management of the system, to facilitate protection against unauthorized access, and to verify security procedures, survivability, and operational security. Monitoring includes active attacks by authorized U.S. Government entities to test or verify the security of this system. During monitoring, information may be examined, recorded, copied and used for authorized purposes. All information, including personal information, placed or sent over this system may be monitored.
      </p>

      <p>
        Use of this computer system, authorized or unauthorized, constitutes consent to monitoring of this system. Unauthorized use may subject you to criminal prosecution. Evidence of unauthorized use collected during monitoring may be used for administrative, criminal, or other adverse action. Use of this system constitutes consent to monitoring for these purposes.
      </p>

    <p>
      This system contains U.S. Government Data. Unauthorized use of this system is prohibited.
    </p>

    <p>
        <b>
          I have read, understand, and agree to the above terms and conditions.
        </b>
      </p>

  </div>

<button class="usa-button usa-button-inline" type="button" class="usa-button" ng-click="btnAgree()">Yes, I agree</button>
<button class="usa-button-outline" type="button" ng-click="btnDisagree()">No, I disagree</button>
</div>
